[submodule "dynamorio"]
	path = dynamorio
	url = https://github.com/xlab-uiuc/dynamorio.git
[submodule "qemu-emt"]
	path = qemu-emt
	url = https://github.com/xlab-uiuc/qemu-emt.git
[submodule "emt-linux"]
	path = emt-linux
	url = https://github.com/xlab-uiuc/emt-linux.git
[submodule "VM-Bench"]
	path = VM-Bench
	url = https://github.com/xlab-uiuc/VM-Bench.git
